* {
    font-family: ShureTechMono Nerd Font Mono;
	border-width:0px;
	box-shadow:none;
	margin:0;
	min-height:0;
	min-width:0;
	padding:0;
	border-color:transparent;
	font-size:calc(12px * 1.6);
	font-weight: 600;
}


window#waybar{
	background-color:transparent;
}

window#waybar > box {
    background-color:rgba(14,23,35,1);
	background-clip:border-box;
	margin: 16px 0px;
	padding: 1px;
	padding-left:0px;
	margin-right:0;
    color:#ffebe8;
	border-style:solid;
	border-width:2 2 2 0;
	border-radius:0 calc(8px * 1.4) calc(8px * 1.4) 0px;
	border-color:#607bce; 
    color: transparent;
}

window#waybar.hidden {
    opacity: 1;
}

window#waybar.empty {
    background-color: transparent;
}

window#waybar.solo {
    background-color: transparent;
}

.modules-center,.modules-right,.modules-left{
	margin:0px 0px;
	/*border-radius:0 8px 8px 0;*/
	/*border-width:2;*/
	border-style:solid; 
	border-left:0;
	/*border-color:mix(rgb(86,101,147), rgb(27,46,71),0.75);*/
	border-color:#607bce;
	background-color: transparent; 
	background-clip: border-box;
}

.modules-left{
	border-top:0; 
	border-top-width:0; 
	/*border-radius:0 0 8px 0;*/
	border-left:0;
	padding-bottom: 8px;
}

.modules-center,.modules-right {
	/*border-radius:0 8px 8px 0;*/
	border-left:0;
	padding: 4px 0px;
}


.modules-right{
	border-bottom:0;
	/*border-radius:0 8px 0 0;*/
}

#custom-menu {
	transition: 0.25s ease-in-out;
	border-color:#286dcc;
	border-width:0px;
	border-radius:8px; 
	background-color:#286dcc;
	padding:0px 8px;
	margin:4px;
	margin-bottom:8px;
	color:#0e1723;
	font-size:calc(20px * 1.25);
}

#workspaces button {
	border-left:0;
	padding:0px 4px;
	margin:0 4px;
	background-color:transparent;
	border-radius:8px;
	border-width:0px;
	border-right:0;
	border-top:0;
	border-bottom:0;
	color:#e6c3c1;
}

#workspaces button.hidden{
	background-color: transparent;
}

#workspaces button * {
	font-size: calc(20px * 1.25);
}


#custom-menu:hover{
	background-color:#ffbd88;
	color:#0e1723;
}

#workspaces button:hover {
  background-color:#1b2e47;
  color:#286dcc;
}

#workspaces button.active {
    color:#0e1723;
	background-color:#607bce;
	/* border-width:2px; */
	/* border-left:solid 2px; */
	/* border-color:#286dcc; */
}

#workspaces button.urgent {
	background-color:#1b2e47;
}

#mode {
    border: 0px solid #ffffff;
}

#image-icon,
#traybox,
#pulseaudio.sound,
#pulseaudio.icon,
#custom-hyprsunset,
#custom-notification.icon,
#custom-notification.count,
#custom-powermenu{
	transition: 0.25s ease-in-out;
    padding: 0px 0px; 
	margin: 0px;
    color:#e6c3c1;
    border-radius:8px; 
}

#image-icon:hover,
#traybox:hover #custom-trayicon,
#pulseaudio.sound:hover,
#pulseaudio.icon:hover,
#custom-hyprsunset:hover,
#custom-notification.icon:hover,
#custom-notification.count:hover{
    color:#ffbd88;
}


#custom-powermenu{
	margin-bottom:4px;
}

#custom-powermenu:hover{
    color:#ffbd88;
}

#custom-notification.count{
	margin:0;
	padding:0;
	font-size:calc(20px * 1.25);
}

#traybox .traycontainer{
	background-color: mix(rgb(27,46,71), rgb(14,23,35),1);
	border-radius:0;
}

#custom-powermenu{
	color:#f47fc9
}

#custom-notification.count,
#pulseaudio.sound{
}

#custom-notification.icon,
#custom-trayicon,#custom-hyprsunset,
#custom-powermenu{
	font-size: calc(20px * 1.25);
}

#pulseaudio.icon{
	font-size: calc(20px * 1.6);
}


#custom-notification.icon{
	margin-top:0;
	padding-top:0;
	color:#e6c3c1;
}

#custom-hyprsunset,
#custom-trayicon{
	font-weight:700;
	color:#e6c3c1;
	transition:100ms;
}

#tray *{
	margin:8px;
}
#pulseaudio-slider slider {
	color:white;
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-width: 16px;
    min-height: 80px;
    border-radius: 5px;
    background-color:rgba(14,23,35,1);
}
#pulseaudio-slider highlight {
	color:white;
    min-width: 16px;
    border-radius: 5px;
    background-color:rgb(96,123,206);

}
#image-icon,
#privacy,
#group-pulse,
#clock,
#cava,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#custom-weather,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-dunst,
#mpd, 
#mpris{
    background-color:rgba(14,23,35,0);
    padding: 0px 0px; 
    margin: 8px 0;
    color:#ffebe8;
    /* border-style:solid; */
    /* border-width:2px; */
    /* border-color:#1b2e47; */
     border-radius:8px; 

}



#custom-weather.icon{
	font-size: calc(20px * 1.75);
	font-family:ShureTechMono Nerd Font Mono;
	padding-bottom:0;
	margin-bottom:0;
}

#custom-weather.temp{
	padding-top:0;
	font-weight:700;
	margin-top:0;
}

#cava{
	color:#607bce;
	font-family:ShureTechMono Nerd Font Mono;
	font-size:calc(12px * 1.25);
}

#clock {
	/* background-color:#607bce; */
	font-weight:700;
	margin:0 4px;
	padding:4px 0;
	border-radius:8px;
    color: #ffebe8;
}


#battery.charging, #battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
}

#memory {
}

#disk {
}

#backlight {

}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
	color: mix(rgb(14,23,35),rgb(96,123,206),0.8);
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray > * {
  color:#ffebe8;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #2d3436;
}

#mpd {
    background-color: #0e1723;
    color: #ffebe8;
}


#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#custom-notification > * {
	color:#ffebe8;
}

tooltip, menu, #tray menu {
	background:rgba(14,23,35,1);
	border: 2px solid rgb(86,101,147);
	border-radius:8px;
	}

tooltip > box, menu, #tray menu{
		padding:12px;
		border-style: solid;
		border-radius:4px;
	}


tooltip * , label *, menu *, #tray menu * {
		margin:0 2px;
		border-style: solid;
		padding:2px;
		border-radius:4px;
		font-size:calc(12px * 1.4);
	}

